body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background: url('../images/noise.png');
    background-size: 100px 100px;
    background-repeat: repeat;
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header-link {
    text-decoration: none;
}

.header {
    /* background: linear-gradient(to bottom, #002b5b, #9e0227); */
    background: url('../images/dxsfaerial.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding: 10px 0;
}

.header::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.6);
}

.header-title {
    color: #fff;
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 24px;
    font-family: 'Courier New', monospace;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.header-logo {
    width: 100px;
    height: 115px;
}

.nav {
    display: flex;
    background-color: #9e0227;
    width: 100%;
    position: relative;
    z-index: 2;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.nav ul li {
    display: inline-block;
    margin-right: 10px;
}
.nav ul li a {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #ccc;
}

.nav-selected {
    color: #ccc !important;
}

.puzzle-nav {
    display: flex;
    background-color: #ccc;
    width: 100%;
    justify-content: center;
}

.puzzle-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 60%;
}

.puzzle-nav ul li a {
    color: #002b5b;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.puzzle-nav ul li a:hover {
    color: #9e0227;
}

.puzzle-nav-selected {
    color: #9e0227 !important;
}
.content {
    padding: 20px;
}

.body-text {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.footer {
    background-color: #002b5b;
    width: 100%;
    padding: 10px 0;
}
.footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
}