{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About the DXSF CS Club</h1>

<p class="body-text">This club was founded in 2025 by Ryder Morton and Quinn Desimone. Our goal is to provide a space for students to learn and practice coding, with the ultimate goal of students learning through pursuing their own independent projects. We believe that the best way to learn is to create. Our weekly meetings are held during Thursday X Block, from 8:15 to 9:00 AM. We are usually in CC328, but on occasion we move to B wing.</p>

<p class="body-text">A typical meetings consists of four main parts: 1) a warmup problem, 2) the main puzzle of the week, 3) workshopping solutions to the puzzle, and 4) presenting solutions. Across our members we code in a variety of languages, including Python, Java, and C++. While this might seem daunting, don't be dismayed! If you are new to coding, we will happily help you get started--usually with Python.</p>

<p class="body-text">Again, one of the lofty goals of this club is to help students learn through solving problems in the community. So, even if you don't feel adept at coding, don't worry. Your presence and participation in the club is a meaningful contribution; the more eyes, ears, and minds on a problem, the better the solution will be. Plus, maybe you will be the one to find a problem to solve!</p>
{% endblock %}