{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the DXSF CS Club!</h1>

<p class="body-text">On this website you can find information about the club, our recent puzzles and projects, and some coding-related resources. Check out the <a href="/about">About</a> page for more information about the club, and the <a href="/puzzles">Puzzles</a> page for our recent puzzles and solutions.</p>

<p class="body-text">If you are interested in joining the club, there is no formal signup necessary; just show up to a meeting and you're in! It is helpful if you contact us at <a href="mailto:27mortry@dextersouthfield.org">27mortry@dextersouthfield.org</a> so we can add you to the mailing list. You do not need to know anything about coding--all we require is a desire to learn and dedication to the learning process.</p>

<p class="body-text">Please note that this site is a work in progress, and we are in the process of adding new features and content. We apoligize for any inconvenience this may cause!</p>

<p class="body-text">The code for this site is open source; we wrote it in Python using <a href="https://flask.palletsprojects.com/">Flask</a>, and we are hosting it on <a href="https://render.com/">Render</a>. The code is available on <a href="https://github.com/DXSF-Programming-Team/comsci-site">GitHub</a>.</p>
{% endblock %}