{% extends 'base.html' %}

{% block title %}Resources{% endblock %}

{% block content %}
<h1>Resources</h1>

<h2>Puzzle/Exercise Sites</h2>
<ul>
    <li><a class="body-text" href="https://codingbat.com/java">CodingBat</a></li>
    <li><a class="body-text" href="https://codegolf.stackexchange.com/">Code Golf</a></li>
    <li><a class="body-text" href="https://www.reddit.com/r/dailyprogrammer/">Daily Programmer</a></li>
    <li><a class="body-text" href="https://usaco.org/index.php?page=training">USACO Training</a></li>
    <li><a class="body-text" href="https://www.projecteuler.net/">Project Euler</a></li>
</ul>

<h2>Competitions</h2>
<ul>
    <li><a class="body-text" href="https://usaco.org/index.php">USACO</a></li>
</ul>
{% endblock %}